:root {
        --ic-brand-primary-darkened-5: #0C2248;
--ic-brand-primary-darkened-10: #0B2044;
--ic-brand-primary-darkened-15: #0B1E40;
--ic-brand-primary-lightened-5: #182E54;
--ic-brand-primary-lightened-10: #24395D;
--ic-brand-primary-lightened-15: #304466;
--ic-brand-button--primary-bgd-darkened-5: #0C2248;
--ic-brand-button--primary-bgd-darkened-15: #0B1E40;
--ic-brand-button--secondary-bgd-darkened-5: #A3051F;
--ic-brand-button--secondary-bgd-darkened-15: #92051C;
--ic-brand-font-color-dark-lightened-15: #606060;
--ic-brand-font-color-dark-lightened-30: #7C7C7C;
--ic-link-color-darkened-10: #9A051D;
--ic-link-color-lightened-10: #B31E36;
--ic-brand-primary: #0c234b;
--ic-brand-font-color-dark: #444444;
--ic-link-color: #ab0520;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #AB0520;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #ab0520;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: var(--ic-link-color);
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: #ffffff;
--ic-brand-global-nav-menu-item__badge-text: #0c234b;
--ic-brand-global-nav-logo-bgd: #0c234b;
--ic-brand-header-image: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/60993/arizona-square.png');
--ic-brand-mobile-global-nav-logo: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/451770/Uni-of-Arizona_square.png');
--ic-brand-watermark: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/60999/arizona-horizontal.png');
--ic-brand-watermark-opacity: 0.4;
--ic-brand-favicon: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/451771/Uni-of-Arizona_square.png');
--ic-brand-apple-touch-icon: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/60995/arizona-square-2.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/60997/arizona-square-2.png');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/60998/arizona-square-2.png');
--ic-brand-right-sidebar-logo: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/61000/arizona-horizontal.png');
--ic-brand-Login-body-bgd-color: #0c234b;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #0c234b;
--ic-brand-Login-logo: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/61003/Arizona_White.png');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }