* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: gray;
}

/* HEADER / NAV BAR STYLES START */
.header {
    padding: 20px 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:pink;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    color: rgb(58, 54, 54);
    background-position: center;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: rgb(58, 54, 54);
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    background: pink;
  color: rgb(58, 54, 54);
  border-radius: 15px;
  text-shadow: none;
}

/* HEADER / NAVE BAR STYLES END */

h2 {
    font-size: 40px;
    font-weight: heavy;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content {
    margin: 0;
    margin-bottom: 20px;
    width: 80%;
    float: right;
    padding: 50px;
    height: 315px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(58, 54, 54);
}
h4 {
margin: 30px;
}
p {
    margin: 30px;
}


/* FOOTER STYLES START */
footer {
    background: pink;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  footer h4 {
      color:rgb(58, 54, 54);
      font-size: 30px;
      margin: 0;
  }

