* {
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: lightpink;
}

/* HEADER / NAV BAR STYLES START */
.header {
    padding: 20px 35px;
    padding-bottom: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style:italic;
    background-color:lightpink;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    color: rgb(58, 54, 54);
    background-position: center;
  
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: rgb(58, 54, 54);
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    background: pink;
    color: rgb(58, 54, 54);
    border-radius: 15px;
    text-shadow: none;
}

header nav ul li a {
    color: rgb(58, 54, 54);
    border-radius: 15px;
    text-shadow: none;
  }

/* HEADER / NAVE BAR STYLES END */
h1 {
    font-size: 28px;
    font-weight: heavy;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

h2 {
    font-size: 28px;
    font-weight: heavy;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.content {
    margin-bottom: 50px;
    width: 80%;
    float: right;
    height: 315px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(58, 54, 54);
    background-image: url('../img/escher.jpg');
    background-size: cover;
    background-position: center;
    width: 1200px;
    padding-bottom: 35px;
}

.aboutme p {
    font-size: 20px;
    margin: 15px, 10, 0, 10;
    padding-bottom: 35px;
}

.aboutme h2 {
    font-size: 28px;
    font-weight: heavy;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
 
.hero {
    width: 100%;
    padding-bottom: 35px;
}

/* WORK STYLES START */

.work p {
    font-size: 20px;
    padding-bottom: 15px;
}

.work {
    font-size: 20px;
    padding-bottom: 15px;
    font-weight: bold;
}

/* WORK STYLES END */
.contact {
    font-size: 20px;
    padding-bottom: 35px;
}

.resume {
    font-size: 20px;
    padding-bottom: 35px;
}

/* FOOTER STYLES START */
footer {
    background: pink;
    padding: 40px, 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

footer h4 {
    color:rgb(58, 54, 54);
    font-size: 30px;
    margin: 0;
}

  /* FOOTER STYLES END */


      
  
