* {
    box-sizing: border-box;
    padding: 0;
}

body {
    background: linear-gradient(to bottom right, blue, white);
}

/* HEADER / NAV BAR STYLES START */
.header {
    padding: 20px 15px;
    padding-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style:italic;
    height: 50px;
    background-color: rgb(127, 160, 250);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    color: rgb(58, 54, 54);
    background-position: center;
  
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: rgb(58, 54, 54);
}

.header nav {
    padding-top: 15px;
    margin-bottom: 30px;
    margin-right: 20px;
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-bottom: -50px;
}

.header nav ul li button {
    width: 130px;
    display:inline-block;
    margin-left: 25px;
    margin-bottom: -50px;
    color: teal;
    border-radius: 15px;
    text-shadow: 2px;
    background-color: rgb(136, 136, 136);
    position: sticky;
    
    
}
.header nav ul li button:hover {
    background-color: whitesmoke;
}

header nav ul li a {
    color: white;
    border-radius: 15px;
    text-shadow: white;
    font-weight: bolder;
  }

/* HEADER / NAVE BAR STYLES END */
.header h1 {
    font-size: 28px;
    font-weight: heavy;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    padding: -35px;
}

h2 {
    font-size: 28px;
    font-weight: heavy;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.content {
    flex-wrap: nowrap;
    margin-bottom: 50px;
    width: 89%;
    float: right;
    height: 250px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(58, 54, 54);
    background-image: url('../img/lake.jpg');
    background-size: cover;
    background-position: center;
    padding-bottom: 35px;
}

.aboutme p {
    font-size: 20px;
    margin: 15px, 10, 0, 10;
    padding-bottom: 15px;
}

.aboutme h1 {
    font-size: 28px;
    font-weight: heavy;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 15px;
}
 
.hero {
    width: 20%;
    padding-bottom: 35px;
}

/* WORK STYLES START */

.work p {
    font-size: 20px;
    padding-bottom: 15px;
}

.work h1 {
    font-size: 28px;
    font-weight: heavy;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 15px;
}

.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:80%;
}
.work img {
    border-radius: 15px;
    margin-right: 5px;
    margin-bottom: 15px;
}
.work article {
    font-weight: bold;
    font-size: 18px;
}

/* WORK STYLES END */


.contact h2 {
    font-size: 28px;
    font-weight: heavy;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 15px;
}

.resume {
    font-size: 20px;
    padding-bottom: 35px;
}

/* FOOTER STYLES START */
footer {
    background: rgb(127, 160, 250);
    padding: 40px, 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

footer h4 {
    color:black;
    font-size: 24px;
    margin: 0;
}

  /* FOOTER STYLES END */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
    }
    
    header h1 {
      width: 100%;
      text-align: center;
    }
     
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
      
    header nav ul li a {
        font-size: 48px;
    }

    .aboutme p {
        font-size: 48px;
    }

    .work {
        font-size: 48px;
    }
   
    .work p {
        font-size: 48px;
    }

    .contact {
        font-size: 48px;
    }

    .resume {
        font-size: 48px;
    }

    footer h4, footer div {
       text-align: center;
       width: 100%;
       font-size: 48px;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
        padding: 30px, 15px;
    }
      
  .work {
      flex: 1 100%;
      text-align: center;
  }
  
  .work img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
  }
}

/*MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    header {
        padding-bottom: 0;
        width: 100%;
      }
      
      header h1 {
        width: 100%;
        text-align: center;
      }

      header nav ul li a {
        font-size: 60px;
    }

    .aboutme p {
        font-size: 60px;
    }

    .work {
        font-size: 60px;
    }
   
    .work p {
        font-size: 60px;
    }

    .contact {
        font-size: 60px;
    }

    .resume {
        font-size: 60px;
    }

    footer h4, footer div {
       text-align: center;
       width: 100%;
       font-size: 60px;
    }
}

